---
import AvatarImageLarge from '../../../components/avatar-image-large'
import BaseRow from '../../../components/base-row'
import HCenterRow from '../../../components/h-center-row'
import PageTitle from '../../../components/page-title'
import PostsPage from '../../../components/pages/posts-page'
import PostBody from '../../../components/post/post-body'
import { RECORDS_PER_PAGE } from '../../../constants'
import ArticleLayout from '../../../layouts/ArticleLayout.astro'
import { getAllAuthors,getAuthorMap } from '../../../lib/api/author'
import { getAllPosts } from '../../../lib/api/post'
import markdownHtml from '../../../lib/markdown-html'
import { getAuthorUrl } from '../../../lib/urls'

export async function getStaticPaths() {
  const allAuthors = await Promise.all(getAllAuthors().map(async author => {
    return {
      ...author,
      html: await markdownHtml(author.fields.content || ''),
    }
  }))

  const authorMap = getAuthorMap()

  const allPosts = await Promise.all(getAllPosts().map(async post => {
    return {
      ...post,
      excerpt: await markdownHtml(post.fields.excerpt || ''),
      //html : await markdownHtml(post.fields.content || ''),
      authors: [authorMap[post.fields.author]],
    }
  }))

  const paths: any[] = []

  allAuthors.forEach(author => {
    const authorPosts = allPosts.filter(post => {
      return post.fields.author === author.fields.name
    })

    const pages = Math.floor(
      (authorPosts.length + RECORDS_PER_PAGE - 1) / RECORDS_PER_PAGE
    )

    paths.push({
      params: {
        slug: author.slug,
      },
      props: {
        author,
        currentPage: 1,
        pages,
        posts: authorPosts
      }
    })

    for (let i = 0; i < pages; ++i) {
      const currentPage = i + 1

      paths.push({
        params: {
          slug: `${author.slug}/page/${currentPage.toString()}`,
        },
        props: {
          author,
          currentPage,
          pages,
          posts: authorPosts
        }
      })
    }
  })


  return paths
}

const {
  author,
  currentPage,
  pages,
  posts
} = Astro.props
---






<ArticleLayout title={author.fields.name}>
  <BaseRow>
    <div class="w-full lg:w-85/100 lg:pr-16">
      <HCenterRow className="lg:hidden">
        <div class="w-1/3 md:w-1/4">
          <AvatarImageLarge author={author} />
        </div>
      </HCenterRow>
      <PageTitle title={author.fields.name} supertitle="Posts by" subtitle={author.fields.title}
        className="text-center lg:text-left mt-8" />
      <PostBody content={author.html} className="text-2xl mt-12" />
    </div>
    <div class="hidden lg:block xl:w-1/5 2xl:w-15/100">
      <AvatarImageLarge author={author} />
    </div>
  </BaseRow>

  <section class="border-t border-gray-200 mt-16 pt-16">
    <PostsPage posts={posts} page={currentPage} pages={pages} root={getAuthorUrl(author.fields.name)} />
  </section>
</ArticleLayout>