---
import BlueLink from '../components/link/blue-link'
import PageTitle from '../components/page-title'
import HEADER_LINKS from '../../_content/menus/header.json'
import REVIEW_LINKS from '../../_content/menus/reviews.json'
import ArticleLayout from '../layouts/ArticleLayout.astro'
---

<ArticleLayout title="Site Map">
  <PageTitle title='Site Map' />

  <div class="grid grid-cols-2 lg:grid-cols-3">
    <section>
      <h3 class="mt-4 font-semibold">Learn More</h3>
      {HEADER_LINKS.map((link: any, i: number) => {
      return (
      <div class="mt-2">
        <BlueLink aria={`Goto ${link.name}`} href={link.url}>
          {link.name}
        </BlueLink>
      </div>
      )
      })}
    </section>

    <section>
      <h3 class="mt-4 font-semibold">Resources</h3>
      {REVIEW_LINKS.map((link: any, i: number) => {
      return (
      <div class="mt-2">
        <BlueLink aria={`Goto ${link.name}`} href={link.url}>
          {link.name}
        </BlueLink>
      </div>
      )
      })}
    </section>

    <section>
      <h3 class="mt-4 font-semibold">About</h3>

      <div class="mt-2">
        <BlueLink href="/help" aria={`View help information`}>
          Help
        </BlueLink>
      </div>

      <div class="mt-2">
        <BlueLink href="/privacy" aria={`View privacy information`}>
          Privacy Policy
        </BlueLink>
      </div>
      <div class="mt-2">
        <BlueLink href="/terms" aria={`View terms and conditions`}>
          Terms of Use
        </BlueLink>
      </div>

      <div class="mt-2">
        <BlueLink href="/contact" aria={`Contact us`}>
          Contact Us
        </BlueLink>
      </div>
    </section>
  </div>
</ArticleLayout>