---
import ContentLayout from "./ContentLayout.astro"
import ThreeQuarterLayout from "./ThreeQuarterLayout.astro"

export interface Props {
  title: string
  description?: string
  tab?: string
  slug?: string
  isIndexed?: boolean
  className?: string
}

let { title, description, tab, slug, isIndexed = true, className } = Astro.props
---

<ContentLayout title={title} description={description} tab={tab} slug={slug} isIndexed={isIndexed}
  className={className}>

  <ThreeQuarterLayout>
    <div slot="s1">
      <slot name="s1" />
    </div>

  </ThreeQuarterLayout>
</ContentLayout>