---
import ContentLayout from "./ContentLayout.astro"
import SeventyLayout from "./SeventyLayout.astro"

export interface Props {
  title: string
  description?: string
  tab?: string
  slug?: string
  isIndexed?: boolean
  className?: string
}

let { title, description, tab, slug, isIndexed = true, className } = Astro.props
---

<ContentLayout title={title} description={description} tab={tab} slug={slug} isIndexed={isIndexed} className={className}>
 
  <SeventyLayout>
    <div slot="s1"><slot name="s1"/></div>
   
  </SeventyLayout>
</ContentLayout>